// SECTION

@mixin dexes-section-position {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

@mixin dexes-section-size {
  width: calc(100vw - (64px * 2));
  height: auto;
  padding: 32px 64px 64px 64px;
  @media screen and (max-width: 550px) {
    width: calc(100vw - (16px * 2));
    padding: 16px;
  }
}

// SECTION TITLE

@mixin dexes-section-title-position {
  margin-bottom: 0;
}

@mixin dexes-section-title-size {
  font-size: 1.6em;
}

@mixin dexes-section-title-style {
  color: white;
  font-weight: 600;
  text-align: center;
}

// audit ITEMS CONTAINER

@mixin dexes-items-container-position {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

@mixin dexes-items-container-size {
  width: calc(80% + (8px * 4));
  @media screen and (max-width: 550px) {
    width: calc(80% + (16px * 2));
    padding: 16px;
  }
}

// audit ITEM

@mixin dex-item-position {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin: 8px;
}

@mixin dex-item-size {
  width: auto;
  height: auto;
  padding: 32px;
  @media screen and (max-width: 550px) {
    align-self: stretch;
  }
}

@mixin dex-item-style {
  border: 1px solid rgba(256, 256, 256, 0.2);
  border-radius: 16px;
  &:hover {
    border: 1px solid rgba(256, 256, 256, 0.4);
  }
}

// audit IMG

@mixin dex-img-position {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

@mixin dex-img-size {
  width: auto;
  height: 48px;
}

section#dexes {
  @include dexes-section-position;
  @include dexes-section-size;
  h4 {
    @include dexes-section-title-position;
    @include dexes-section-title-size;
    @include dexes-section-title-style;
  }
  p {
    color: white;
    margin-bottom: 32px;
  }
  div#dexesItemsContainer {
    @include dexes-items-container-position;
    @include dexes-items-container-size;
    a.dexItem {
      @include dex-item-position;
      @include dex-item-size;
      @include dex-item-style;
    }
    picture,
    img {
      @include dex-img-position;
      @include dex-img-size;
    }
  }
}
