$primary: #957FEF;
$primary-active: #7161EF;
$primary-variant: #B79CED;
$brand-gradient: linear-gradient(45deg, #7161ef, #D669FF);
// SECTION

@mixin sire-section-position
{ position: relative
}

@mixin sire-section-size
{ width: 100vw
; height: 60vh
; min-height: 600px
}

// IMAGE

@mixin sire-img-position
{ position: absolute
; left: 58%
; top: 65%
; transform: translate(-42%, -35%)
; -moz-transform: translate(-42%, -35%)
; -o-transform: translate(-42%, -35%)
; -webkit-transform: translate(-42%, -35%)
; @media screen and (max-width: 1900px)
    { top: 60%
    ; transform: translate(-42%, -40%)
    ; -moz-transform: translate(-42%, -40%)
    ; -o-transform: translate(-42%, -40%)
    ; -webkit-transform: translate(-42%, -40%)
    }
}

@mixin sire-img-size
{ height: 100%
; min-width: 60%
; max-width: 80%
}

@mixin sire-img-style
{ opacity: 0.5
}

// TITLE TEXT

@mixin sire-title-position
{ position: relative
; margin: 8vh 10vw 0 10vw
}

@mixin sire-title-size
{ font-size: 3em
; max-width: 700px
; @media screen and (max-width: 1000px)
    { font-size: 2.4em
    }
; @media screen and (max-width: 650px)
    { font-size: 2.0em
    ; max-width: 250px
    }
}

@mixin sire-title-style
{ font-weight: 600
; color: white
; line-height: 100%
}


// PARAGRAPH TEXT


@mixin sire-paragraph-position
{ position: relative
; margin: 32px 10vw 0 10vw
}

@mixin sire-paragraph-size
{ font-size: 1.4em
; max-width: 700px
; @media screen and (max-width: 1000px)
    { font-size: 1.4em
    }
; @media screen and (max-width: 650px)
    { font-size: 1.0em
    ; max-width: 450px
    }
}

@mixin sire-paragraph-style
{ font-weight: 300
; line-height: 120%
; color: white
}


// FORM


// CONTENT

@mixin stake-email-form-position
{ display: flex
; flex-flow: row nowrap
; margin: 48px 10vw 0 10vw
; @media screen and (max-width: 800px)
    { flex-flow: column nowrap
    }
}


// EMAIL INPUT

@mixin stake-email-input-position
{ margin-right: 16px
; @media screen and (max-width: 800px)
{ margin: 0 0 16px 0
}
}

@mixin stake-email-input-size
{ padding: 10px 16px
; min-width: 300px
; font-size: 18px
; @media screen and (max-width: 500px)
{ min-width: 180px
; align-self: stretch
; width: auto
}
}

@mixin stake-email-input-style
{ border-radius: 16px
; border: 1px solid rgba(256, 256, 256, 0.6)
; outline: none
; background: none
; color: white
; transition: 0.25s
; &::placeholder
{ color: #d9d9d9
}
; &:focus
  { border: 1px solid white
  }
; &:hover
  { box-shadow: 0 0 8px rgba(256, 256, 256, 0.25)
  }
}



// SUBMIT BUTTON

@mixin form-submit-button-position
{ display: flex
; flex-flow: row nowrap
; align-items: center
; justify-content: center
}

@mixin form-submit-button-size
{ padding: 12px 16px
; width: fit-content
; font-size: 18px
; @media screen and (max-width: 800px)
{ width: auto
}
}

@mixin form-submit-button-style
{ border-radius: 16px
; cursor: pointer
; font-weight: 700
; background-color: $primary
; color: white
; border: none
; outline: none
; &:hover
{ background-color: $primary-active
; transition: 0.5s
}
; &:active
  { background-color: $primary-active
  ; transition: 0s
  }
}


// APPLIED STYLES

section#stakeInRealEconomy
{ @include sire-section-position
; @include sire-section-size
; img
    { @include sire-img-position
    ; @include sire-img-style
    ; @include sire-img-size
    ; z-index: -10
    }
; h4
    { @include sire-title-position
    ; @include sire-title-size
    ; @include sire-title-style
    ; z-index: -8
    }
; p { @include sire-paragraph-position
    ; @include sire-paragraph-size
    ; @include sire-paragraph-style
    }
; form
    { @include stake-email-form-position
    ; input#email
        { @include stake-email-input-style
        ; @include stake-email-input-position
        ; @include stake-email-input-size
        }
    ; input#submit
        { @include form-submit-button-position
        ; @include form-submit-button-size
        ; @include form-submit-button-style
        }
    }
}