$bgColor
: #000000
;
$textColor
: #ffffff
;

body
{ background-color
: $bgColor
; color
: $textColor
}

h1, h2, h3, h4, h5, h6, p, a, span
{ color
: $textColor
}

#background
{ z-index
: 99
; width
: 100vw
; height
: 100vh
; background-color
: $bgColor
}

