$primary: #957fef;
$primary-active: 168fef;

#main section#hero
{ display
: flex
; flex-flow
: column nowrap
; justify-content
: flex-end
; height
: calc(100vh - 200px)
; width
: calc(100vw - 200px)
; padding
: 100px 100px 100px 100px
; margin
: 0
; h1
  { font-size
  : 2.4em
  ; font-weight
  : 300
  ; color
  : $primary-active;
  ; max-width
  : 50vw
  ;
}
; h2
  { font-family
  : 'Space Mono', Monaco, monospace
  ; font-size
  : 2.4em
  ; max-width
  : 50vw
  }
; span
  { font-family
  : 'Space Mono', Monaco, monospace
  ; font-style
  : italic
  ; max-width
  : 50vw
  }
}