$primary: #957FEF;
$primary-active: #7161EF;
$primary-variant: #B79CED;

main section#how-it-works
    { display: flex
    ; flex-flow: column nowrap
    ; margin: 100vh 0 0 0
    ; height: auto
    ;
}