// SECTION

@mixin stakeholders-section-position {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

@mixin stakeholders-section-size {
  width: calc(100vw - (64px * 2));
  height: auto;
  padding: 32px 64px 64px 64px;
  @media screen and (max-width: 550px) {
    width: calc(100vw - (16px * 2));
    padding: 16px;
  }
}

// SECTION TITLE

@mixin stakeholders-section-title-position {
  margin-bottom: 32px;
}

@mixin stakeholders-section-title-size {
  font-size: 1.6em;
}

@mixin stakeholders-section-title-style {
  color: white;
  font-weight: 600;
  text-align: center;
}

// STAKEHOLDER ITEMS CONTAINER

@mixin stakeholders-items-container-position {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 1200px) {
    //flex-flow: row wrap;
  }
}

@mixin stakeholders-items-container-size {
  width: calc(80% + (8px * 4));
  @media screen and (max-width: 550px) {
    width: calc(80% + (16px * 2));
    padding: 16px;
  }
}

// STAKEHOLDER ITEM

@mixin stakeholder-item-position {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin: 8px;
}

@mixin stakeholder-item-size {
  width: auto;
  height: auto;
  padding: 32px;
  @media screen and (max-width: 1200px) {
    width: auto;
  }
  @media screen and (max-width: 550px) {
    width: auto;
    align-self: stretch;
  }
}

@mixin stakeholder-item-style {
  border: 1px solid rgba(256, 256, 256, 0.2);
  border-radius: 16px;
  &:hover {
    border: 1px solid rgba(256, 256, 256, 0.4);
  }
}

// stakeholder IMG

@mixin stakeholder-img-position {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

@mixin stakeholder-img-size {
  width: auto;
  height: 48px;
}

section#stakeholders {
  @include stakeholders-section-position;
  @include stakeholders-section-size;
  h4 {
    @include stakeholders-section-title-position;
    @include stakeholders-section-title-size;
    @include stakeholders-section-title-style;
  }
  div#stakeholdersItemsContainer {
    @include stakeholders-items-container-position;
    @include stakeholders-items-container-size;
    a.stakeholderItem {
      @include stakeholder-item-position;
      @include stakeholder-item-size;
      @include stakeholder-item-style;
    }
    picture,
    img {
      @include stakeholder-img-position;
      @include stakeholder-img-size;
    }
  }
}
