//div#parallax-container
//{ height: 100vh
//; position: absolute
//; top: 0
//; left: 0
//; perspective: 1px
//; width: 100vw
//; overflow-x: hidden
//; overflow-y: scroll
//; z-index: -10
//}

//.parallax-group
//{ position: relative
//; height: 100vh
//; transform-style: preserve-3d
//; -webkit-transform-style: preserve-3d
//; z-index: -10
//}

//div#gradients-container
//{ position: absolute
//; top: 0
//; left: 0
//; right: 0
//; bottom: 0
//; transform-style: preserve-3d
//; -webkit-transform-style: preserve-3d
//;
//}

// parallax layers
img
{ opacity: 0.5
; position: absolute
; animation: fadeInFromBlack 3s
; animation-fill-mode: forwards
}


// TOP LEFT
#purple0
{ top: 5px
; left: -71px
; width: 670px
; height: 670px
; z-index: -20
}

// TOP LEFT
#yellow0
{ top: 0
; left: -269px
; width: 826px
; height: 842px
; z-index: -30
}

// MIDDLE TOP RIGHT
#purple1
{ top: 23vh
; right: -80px
; width: 1139px
; height: 1177px
; z-index: -30
}

#yellow1
{ top: 20vh
; right: -100px
; width: 945px
; height: 945px
; z-index: -40
}

// BOTTOM LEFT

#purple4
{ top: 145vh
; left: -50vw
; width: 1210px
; height: 1250px
}

#purple3
{ top: 140vh
; left: -15vw
; width: 1093px
; height: 1129px
}

#yellow2
{ top: 160vh
; left: -90vw
; width: 380px
; height: 380px
; z-index: -90
}

#pink0
{ top: 138vh
; left: -180vw
; width: 476px
; height: 476px
}


@keyframes fadeInFromBlack {
    from {opacity: 0}
    to {opacity: 0.5}
}